.form{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    background-color: rgb(184, 205, 205);
    padding: 10px;
    width: 500px;
}
.header{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.input{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    }
button {
    display: block;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.contact__filter {
    margin-bottom: 0;
    margin-top: 0px;
}
.contacts__list {
display: flex;
justify-content: space-between;
padding-right: 100px;
padding-left: 30px;
}
.remove:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}